.navbar {
  background-color: #53b1b1;
  /* background: linear-gradient(
    90deg,
    rgba(250, 178, 169, 1) 0%,
    rgba(248, 191, 179, 1) 10%,
    rgba(248, 191, 179, 1) 90%,
    rgba(250, 178, 169, 1) 100%
  ); */
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  display: flex;
  font-size: 1rem;
  height: 6rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-list {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.link-item {
  background-color: #f69000;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (hover: hover) {
    &:hover {
      background-color: #65b1a0;
    }
  }
}
